@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Nunito, sans-serif;
    font-weight: bold;
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

p {
    @apply my-5;
}
